ty generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
iOS/Liveball2
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Assets/Extras/PlayMaker/Templates.meta
Assets/Extras/UniWebView/Editor.meta
Assets/Scripts/Baseball.meta
Assets/Scripts/Football.meta
Assets/Extras/IGSoft_Resources/Projects/1 Project.meta
Assets/Extras/IGSoft_Resources/Projects/2 Project.meta
Assets/Extras/IGSoft_Resources/Projects/1 Project/Group 1.meta
Assets/Extras/IGSoft_Resources/Projects/1 Project/Group 2.meta
Assets/Extras/IGSoft_Resources/Projects/1 Project/Group 3.meta
Assets/Extras/IGSoft_Resources/Projects/1 Project/Group 4.meta
Assets/Extras/IGSoft_Resources/Projects/1 Project/Group 5.meta
Assets/Extras/IGSoft_Resources/Projects/2 Project/Group 1.meta
Assets/Extras/IGSoft_Resources/Projects/2 Project/Group 2.meta
Assets/Extras/IGSoft_Resources/Projects/2 Project/Group 3.meta
Assets/Extras/IGSoft_Resources/Projects/2 Project/Group 4.meta
Assets/Extras/IGSoft_Resources/Projects/2 Project/Group 5.meta
Assets/Extras/IGSoft_Resources/Projects/[Resources]/[Sprite]/UserSprite.meta
Assets/Extras/IGSoft_Resources/Projects/[Resources]/[Sprite]/UserSprite/_MaterialsUser.meta
Assets/Extras/IGSoft_Resources/Scripts/Unity.meta
Assets/Extras/IGSoft_Resources/Scripts/User.meta
Assets/Extras/Universal Sound FX/IMPACTS/ENGINES & MOTORS/also see VEHICLES for Engines & Motors.meta
Assets/Extras/IGSoft_Resources/Projects/[Resources]/[Sprite]/UserSprite.meta
Assets/Extras/IGSoft_Resources/Projects/[Resources]/[Sprite]/UserSprite/_MaterialsUser.meta
Assets/Extras/IGSoft_Resources/Projects/[Resources]/[Sprite]/UserSprite.meta
Assets/Extras/IGSoft_Resources/Projects/[Resources]/[Sprite]/UserSprite/_MaterialsUser.meta
*.apk
